@font-face {
  font-family: 'SpaceAge';
  src: url('../fonts/space_age/space_age.ttf') format('truetype');
}

body {
  color: #ffffff;
  background-size: 100% 130%;
  background-image: url("../img/supernova_splosion.jpg");
}

h1 {
  margin-left: 37%;
  font-size: 60px;
  font-family: 'SpaceAge';
}

#board {
  margin: auto;
  border-radius: 25px;
  height: 400px;
  width: 775px;
  background-color: rgba(51, 153, 255, 0.65);
  padding: 5px;
}

.cell {
  border-radius: 25px;
  font-family: 'SpaceAge';
  border: 2px solid #ffcc33;
  height: 90px;
  width: 180px;
  display: inline-block;
  margin: 3px;
}

p {
  margin: 16px;
  text-align: center;
  font-size: 60px;
  font-family: 'SpaceAge';
}